@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700');

html {
  height: 100%;
}
body {
  background: #E2E4E7;
  padding: 0;
  text-align: center;
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto; 
  overflow: hidden;
}

#section1{
  background:linear-gradient( rgba(0,0,0,0.4), rgba(0, 0, 0, 0.4) ), url("../images/page1.jpg");


    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section{
  display: flex;
  text-align: center;
  min-height: 100vh;
}

section h1{
  align-content: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

#section2{
  background-color: #133046;
}

.iti-flag {background-image: url("../intl-telephone/build/img/flags.png");}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .iti-flag {background-image: url("../intl-telephone/build/img/flags@2x.png");}
}

#imgwrap{
  display: initial;
}

#phone, select {
  border: 1px solid #CCC;
  width: 45vw;
  height: 70px;
  font-size: 25pt;
}
input, button{
  height: 35px;
  margin: 0;
  padding: 6px 12px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 2px;
  font-family: inherit;
  font-size: 100%;
  color: inherit;
}

/*#phoneimg{
  height: 75%;
  width: auto;
  margin: auto;
}*/

.phoneimg{
  max-height: 60vh;
  width: auto;
  margin-top: 2%;
}


#phonewrap{
  height: 100vh;
  align-items: center;
  min-width: 50vw;
  width: 50vw;
  float: right;
}

#textwrap{  
  align-content: center;
}
#content{
  min-width: 100%;
}

#textwrap h2{
  color: azure;
  margin-top: 1%;
  font-family: "Josefin sans", sans-serif;
  font-weight: lighter;
}

.iti-flag{
  border-radius: 2px;
}

#alignment{
  width: 50vh;
  min-width: 50vh;
  height: 100vh;
  float: right;
  position: absolute;
  left: 50vh;
  right: 0;
}

/*#wrap{
  height: 100vh;
  width: 50vh;
}*/

#textwrap h1{
  font-size: 50pt;
  color: azure;
  /*text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;*/
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 2%;
  margin-bottom: 0;
  font-weight: bold;
}

#textwrap h1 b{
  font-weight: bold;
  color: #f3418d

}

#textwrap p{
  font-size: 15pt;
  color: azure;
  font-style: bold;
  /*text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;*/
  font-family: 'Josefin Sans', sans-serif;
}

details{
  min-width: 100%;
  font-size: 20pt;
  font-style: bold;
  color: azure;
  /*text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;*/
  background-color: rgba(199, 195, 195, 0.096);
  border-top: rgba(204, 204, 204, 0.247);
  border-bottom: rgba(204, 204, 204, 0.247);
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-width: 3px;  
  border-bottom-width: 3px;
}

details p{
  margin-left: 2%;
  margin-right: 2%;
  font-family: 'Josefin Sans', sans-serif;
}

summary{
  font-size: 30pt;
  font-style: bold;
  color: azure;
  /*text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;*/
  padding-top: 2%;
 padding-bottom: 2%;
 min-height: 16%;
 font-family: 'Josefin Sans', sans-serif;
}

#alignpara{
  max-width: 45vw; /*calc(45vw + 58px);*/
  margin: 0 auto;
}

#alignpara{
  text-align: justify;
}

#aligntext{
  max-width: 100vw;
  
}

#section2{
  flex-direction: column;
  color: azure;
}

#section2 h1{
  align-content: center;
  text-align: center;
  font-size: 50pt;
  font-family: "Josefin sans", sans-serif;
  font-weight: bold;
  min-width: 100vw;
}

#section2 p{
  font-size: 1.5em;
  font-family: "Josefin sans", sans-serif;
  text-align: left;
  margin-left: 10%;
  position: relative;
  font-weight: lighter;
}

#section2 #news::before{
  content: "";
  position: absolute;
  left: -5%;
  bottom: -5px;
  background-image: url("../images/newsapi.png");
  background-size: 40px 40px;
  min-height: 40px;
  min-width: 40px;
  display: inline-block;
  align-self: center;
}

a:any-link{
  color: #f3418d;
  text-decoration: none;
}

#section2 #wikipedia::before{
  content: "";
  position: absolute;
  left: -5%;
  bottom: -5px;
  background-image: url("../images/wikipedia.png");
  background-size: 40px 40px;
  min-height: 40px;
  min-width: 40px;
  display: inline-block;
  align-self: center;
}

#section2 #googletrans::before{
  content: "";
  position: absolute;
  left: -5%;
  bottom: -5px;
  background-image: url("../images/Google_Translate_logo.svg.png");
  background-size: 40px 40px;
  min-height: 40px;
  min-width: 40px;
  display: inline-block;
  align-self: center;
}

#mobile1{
  display: none;
}

#section2 #oed::before{
  content: "";
  position: absolute;
  left: -5%;
  bottom: -5px;
  background-image: url("../images/index.ico");
  background-size: 40px 40px;
  min-height: 40px;
  min-width: 40px;
  display: inline-block;
  align-self: center;
}

#section{
  display: none;
}

@media screen and (max-width: 600px){
  #phone{
    width: 100vw;
  }
  #alignpara{
    margin: 0;
  }
  .phoneimg{
    min-height: 100vh;
    width:auto;
    display: block;
    margin: 2% auto
  }
  #mobimg{
    max-height: 100vh;
    width: auto;
  }

  section{
    max-height: 200vh;
  }

  #section1{
    height: 152vh;
  }

  #section2 p{
    margin-left: 15%;
  }
  #section2 #oed::before{
    content: "";
    position: absolute;
    left: -14%;
    bottom: 15px;
    background-image: url("../images/index.ico");
    background-size: 40px 40px;
    min-height: 40px;
    min-width: 40px;
    display: inline-block;
    align-self: center;
    margin-right: 1%;

  }

  #section2 #wikipedia::before{
    content: "";
    position: absolute;
    left: -14%;
    bottom: 15px;
    background-image: url("../images/wikipedia.png");
    background-size: 40px 40px;
    min-height: 40px;
    min-width: 40px;
    display: inline-block;
    align-self: center;
    margin-right: 1%;

  }

  #section2 #googletrans::before{
    content: "";
    position: absolute;
    left: -14%;
    bottom: 15px;
    background-image: url("../images/Google_Translate_logo.svg.png");
    background-size: 40px 40px;
    min-height: 40px;
    min-width: 40px;
    display: inline-block;
    align-self: center;
    margin-right: 1%;

  }

  #section2 #news::before{
    content: "";
    position: absolute;
    left: -14%;
    bottom: 30%;
    background-image: url("../images/newsapi.png");
    background-size: 40px 40px;
    min-height: 40px;
    min-width: 40px;
    display: inline-block;
    align-self: center;
    margin-right: 1%;
  }
  
}