@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');

body{
    font-family: 'Josefin Sans', sans-serif;
    color: azure;
    text-align: center;
}

html{
    min-height: 100%;
    background:linear-gradient( #4D00E1, #8B27E3 );
    background-repeat: no-repeat;
}

#centered h1 b{
    color: #f3418d;
    font-weight: bold;
}

#centered h1{
    font-weight: bold;
    font-size: 50pt;
}

#centered h2{
    font-weight: lighter;
    font-size: 30pt;
    min-height: 48px;
}

#input{
    width: 45vw;
    height: 10vh;
    font-size: 30pt;
    text-align: center;
    border-radius: 6px;
    border-width: 0;
    border-style: none;
}

#logo{
    height: 100px;
    width: auto;
    margin-top: 2%;
}

#mc_embed_signup_scroll #mce-EMAIL{
    width: 30vw;
    height: 50px;
    font-size: 20pt;
}

#mc_embed_signup_scroll #mc-embedded-subscribe{
    height: 50px;
}

form{
    padding-bottom: 0;
}

#description{
    max-width: 50vw;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15pt;
    margin: 2% auto;
    text-align: justify;
}

#mc-embedded-subscribe{
    background-color: #F3418D;
    font-size: 20pt;
}

#enticement{
    font-size: 15pt;
    color: #f3418d;
}

@media screen and (max-width: 600px){
    #mc_embed_signup_scroll #mce-EMAIL{
        width: 100%;
    }

    #description{
        max-width: 90vw;
    }
}